h1 {
  color: white;
}

footer {
  background: white;
  color: black;

  display: inline;
  float: left;
}

footer ul{
  float:right;
  list-style-type: none;
  display: inline-block;
}

.footer .legal {
  font-size: 12px;
  margin-top: 6px;
  display: inline-block;
}

header{
  background: linear-gradient(to left,#DD2476, #F25F2E);
  color: white;
  padding-left: 200px;
  padding-top: 20px;
  padding-bottom: 100px;
  text-decoration: none;
  line-height: 75%;
  margin-top: auto;
}
.shoe-type{
  background: #F25F2E;
  color: white;
  padding-left: 200px;
  padding-top: 60px;
}

.wrap-align-left{
  float: left;
}

.wrap-align-right{
  float:right;
}

.align-left {
  float: left;
  vertical-align: left
  bottom: 0;
}

.header-content{
  background: white;
  color:#F25F2E;
  text-transform:uppercase;
  float:right;
  text-align: left;
}

.container{
  background: white;
  color:#F25F2E;
  text-transform: uppercase;
  height: 60px;
  width: 100px;
  display: inline;
  padding: 10px;
  border-radius: 10px;
}

.middle-section{
  padding-left: 200px;
  padding-bottom: 75px;
  padding-top: 50px;
  line-height: 20%;
}

.recommend{
  background: #F9B6A0;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

h5{
  color: red;
  padding-top: .5px;
}

.details{
  text-decoration: underline;
  text-decoration-color: #F25F2E;
  color:#F25F2E;
}

.reviews-details{
  text-decoration: underline;
  text-decoration-color: #F25F2E;
  color:#F25F2E;
  float: right;
  padding-right: 250px;
}
.border{
  border-top: 5px dashed red;
  border-bottom: 5px dashed red;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 10px;
  display: inline-block;
}

.exciting{
  padding-bottom: 10px;
  padding-top: 5px;
}

.find-shoe{
  padding-bottom: 15px;
}

.shiftright{
  float: right;
  padding-right: 200px;
}

.people{
  display: inline-block;
  display: right;
  padding-right: 600px;
}

.items{
  width: 50%;
}

.people2{
  display: inline-block;
  padding-right: 600px;
  color: #F25F2E
}

.items2{
  padding-right: 10px;
}

.footer-content{
  float: left;
}

.grouped-shoe{
  display: inline-block;
  padding: 20px;
}

.navigation ul {
  margin: 0;
  padding: 0;
}

.navigation li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.people3{
  display: inline-block;
}

footer img{
  float:left;
}
